<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<a class="navbar-brand" href="#"><img
      src="https://docty-dev.s3.us-east-2.amazonaws.com/avatar/1613825037956.png"
      width="42px"
    />Developers</a>
		<button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">End Points</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Environments
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Test</a>
						<a class="dropdown-item" href="#">Live</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Get Live token</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Help</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
			</form>
		</div>
</nav>
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
	aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Library</li>
	</ol>
</nav>
<div class="container-fluid">
	<div class="row ">
		<div class="col-md-2  d-md-block bg-light sidebar">
			<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" #tree>
				<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
					<button mat-icon-button disabled class="icon"></button>
					<span style="color:grey;">{{node?.method}}</span>/ {{node.name}}
				</mat-tree-node>
				<mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
					<a mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
						<mat-icon class="mat-icon-rtl-mirror">
							{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
						</mat-icon>
					</a>
					{{node.name}}
				</mat-tree-node>
			</mat-tree>
		</div>
		<div class="col-md-9 ml-sm-auto col-lg-10 px-4 api-content">
			<div class="row">
				<div class="col-md-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Clinic</a></li>
							<li class="breadcrumb-item"><a href="#">My Customers</a></li>
							<li class="breadcrumb-item active" aria-current="page">GET</li>
						</ol>
					</nav>
				</div>
				<form class="col-md-12">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">POST</span>
						</div>
						<input
              type="text"
              class="form-control"
              [value]="endPoint"
              readonly
              placeholder=""
            />
						<div class="input-group-append">
							<span class="input-group-text"><a href="">Copy</a></span>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<main role="main" class="col-md-12">
					<h3>Authenication</h3>
					<mat-card>
						<table class="table text-start table-bordered">
							<tbody>
								<!-- <tr>
									<td><code>Clinic ID</code></td>
									<td>Required</td>
									<td>
										Enter a clinic id to get the data response
									</td>
									<td>
										<input
                      type="text"
                      class="form-control"
                      value="Add Clinic ID"
                    />
                  </td>
								</tr> -->
								<tr>
									<td><code>Token</code></td>
									<td>Required</td>
									<td>
										An authentication token required for data view
									</td>
									<td>
										<input type="text" class="form-control" [(ngModel)]="token" />
                  </td>
								</tr>
							</tbody>
						</table>
						<!-- <button class="btn btn-primary pull-right">
              Validate
            </button> -->
						<br clear="both" />
          </mat-card>

						<h3>Parameters</h3>
						<mat-card>
							<table class="table text-start table-bordered">
								<thead>
									<tr>
										<th>Option</th>
										<th>Type</th>
										<th>Description</th>
										<th>Value</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><code>OrderKey</code></td>
										<td>Optional</td>
										<td>
											Keyword to order the object<br />
											<b>Acceptable values : </b> <code>first_name</code>,
											<code>last_name</code>, <code>gender</code>
										</td>
										<td>
											<input type="text" class="form-control" [(ngModel)]="params.orderKey" />
                  </td>
									</tr>
									<tr>
										<td><code>Order</code></td>
										<td>Optional</td>
										<td>
											Order of order key
											<br />
											<b>Acceptable values : </b> <code>ASC, DESC</code>
										</td>
										<td>
											<input type="text" class="form-control" [(ngModel)]="params.order" />
                  </td>
									</tr>

									<tr>
										<td><code>Page</code></td>
										<td>Optional</td>
										<td>
											Page number is numaric key for pagination
											<br />
											<b>Acceptable values : </b>
											<code>Default 1</code>, <code>numaric value like 1,2,3.</code>
										</td>
										<td>
											<input type="text" class="form-control" [(ngModel)]="params.page" />
                  </td>
									</tr>

									<tr>
										<td><code>search</code></td>
										<td>Optional</td>
										<td>
											Any search keyword like first name, last name, phone no. or email of
											customer
											<br />
											<b>Acceptable values : </b>
											<code>phone number</code>, <code>Name</code>,<code>Email etc..</code>
										</td>
										<td>
											<input type="text" class="form-control" [(ngModel)]="params.search" />
                  </td>
									</tr>
									<tr>
										<td><code>pageSize</code></td>
										<td>Optional</td>
										<td>
											No. of rows per page. default is 25
											<br />
											<b>Acceptable values : </b>
											<code>number</code>, <code>Name</code>,<code>Email etc..</code>
										</td>
										<td>
											<input type="text" class="form-control" [(ngModel)]="params.pageSize" />
                  </td>
									</tr>
									<tr>
										<td><code>bmi</code></td>
										<td>Optional</td>
										<td>
											fit,underWeight,overWeight,obese
											<br />
											<b>Acceptable values : </b>
											<code>number</code>, <code>Name</code>,<code>Email etc..</code>
										</td>
										<td>
											<input type="text" class="form-control" [(ngModel)]="params.bmi" />
                  </td>
									</tr>
									<tr>
										<td><code>gender</code></td>
										<td>Optional</td>
										<td>
											To generate the user list by gender you can apply gender parameter
											<br />
											<b>Acceptable values: </b>
											<code>MALE</code>, <code>FEMALE</code>
										</td>
										<td>
											<input type="text" class="form-control" [(ngModel)]="params.gender" />
                  </td>
									</tr>
									<tr>
										<td><code>triage</code></td>
										<td>Optional</td>
										<td>
											This parameter enables to generate user list by the last triage
											<br />
											<b>Acceptable values : </b>
											<code>emegency</code>, <code>consultation</code>,<code>self_care</code>
										</td>
										<td>
											<input type="text" class="form-control" [(ngModel)]="params.triage" />
                  </td>
									</tr>
								</tbody>
							</table>
							<button class="btn btn-primary pull-right" (click)="evaluate()" style="display:flex;">
              Get Response  &emsp;
              <mat-spinner diameter="16" color="warn" *ngIf="loader"></mat-spinner>
            </button>
							<br clear="both" />
          </mat-card>

							<h3>Response Query and Data Results</h3>
							<mat-card *ngIf="!result && !error" style="text-align:center;padding:30px;">
								<a class="text-info text-center" (click)="evaluate()"
									style="display:flex;cursor:pointer;">
									Get Response &emsp;
									<mat-spinner diameter="16" color="warn" *ngIf="loader"></mat-spinner>
								</a>
							</mat-card>
							<mat-card *ngIf="result">
								<mat-tab-group>
									<mat-tab label="Request Payload">
										<pre>{{params | json}}</pre>
									</mat-tab>
									<mat-tab label="Response JSON">
										<div class="highlight">
											<pre *ngIf="result">{{result | json}}</pre>
										</div>
									</mat-tab>
									<mat-tab label="Responce Object">
										<ngx-json-viewer [json]="result"></ngx-json-viewer>
									</mat-tab>
									<mat-tab label="Respoce Grid View">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Last Login</th>
													<th>Completed Self-declared records date</th>
													<th>Chronic Condition</th>
													<th>365 Schedules</th>
													<th>Triage</th>
													<!-- <th>No. Of Family</th> -->
													<th>Last Device</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let data of result?.data">
													<td>{{data?.first_name}}</td>
													<td>{{data?.last_name}}</td>
													<td>{{data?.lastLogin?.createdAt | date:'dd MMM yyyy hh:mm a'}}</td>
													<td>{{data?.medical_conditions?.updatedAt | date:'dd MMM yyyy hh:mm a'}}
													</td>
													<td>NO</td>
													<td>{{data?.bookings_in_year}}</td>
													<td>{{data?.triage_level}}</td>
													<!-- <td>3</td> -->
													<td>{{data?.lastLogin?.platform}}</td>
												</tr>
											</tbody>
										</table>
									</mat-tab>
									<mat-tab label="Error Object" *ngIf="error">
										<pre>{{error | json}}</pre>
									</mat-tab>
								</mat-tab-group>
							</mat-card>
							<mat-card *ngIf="error">
								<mat-tab-group>
									<mat-tab label="Error Object">
										<pre>{{error | json}}</pre>
									</mat-tab>
								</mat-tab-group>
							</mat-card>

							<h3>Develoers guidelines</h3>
							<mat-card>
								<h5>API explained</h5>
								<p>
									All utility variables are added to the
									<code>$utilities</code> variable within our
									<code>_utilities.scss</code> stylesheet. Each group of utilities
									looks something like this:
								</p>
							</mat-card>
				</main>
			</div>
		</div>
	</div>
</div>